.details {
  display: flex;
  margin: 85px 25px;
  @media screen and (max-width: 992px) {
    flex-direction: column;
  }
}

.details__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  width: 100%;
}

.details__img {
  width: 100%;
}

.details__model,
.details__company {
  text-align: center;
}

.details__company {
  font-weight: bold;
  margin: 5px 0 15px;
}

.details__btn {
  font-size: 1rem;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #c9dff7;
  transition: background-color 0.2s;
  cursor: pointer;
  &:hover {
    background-color: #add3fc;
  }
  &:disabled {
    cursor: initial;
  }
}

.details__price {
  font-weight: bold;
  font-size: 1.6rem;
  margin: 15px 0;
  text-align: center;
}
